# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
.env
.env.*
*.egg-info/
dist/
build/

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vite/
dist/

# data
data/

# IDE
.vscode/
.idea/
